<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884990344289-otaj32g2ai29pivtvlab64u2slae4qp3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884990344289-otaj32g2ai29pivtvlab64u2slae4qp3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884990344289-b2bpjdub19isqineflujll007deru70f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjqLmpT_qzu3Uoj-ESCQcAzgII1w4tzJM</string>
	<key>GCM_SENDER_ID</key>
	<string>884990344289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ymtaz.ymtaz</string>
	<key>PROJECT_ID</key>
	<string>ymtaz-51895</string>
	<key>STORAGE_BUCKET</key>
	<string>ymtaz-51895.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884990344289:ios:ed3e463d5337d586153e20</string>
</dict>
</plist>